.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}
.leftContainer {
  width: 50%;
}
.leftContainer img {
  width: 50vw;
}

.rightContainer {
  width: 50%;
  padding-left: 5vw;
}
.rightContainer a {
  align-items: center;
  width: 10px;
  font-size: 3.5vw;
  color: chocolate;
  text-decoration: none;
  padding-left: 2vw;
  padding-right: 2vw;
}
