@font-face {
  font-family: "montserrat";
  src: local("Trickster"), url("../../public/font/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "montserratBold";
  src: local("Trickster"), url("../../public/font/Montserrat-Bold.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}
